<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed" />

html, main{
	margin: 0px;
	padding: 0px;
	background-color: #F1F2EF;
}

body{
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-variant: normal;
}

/* Some custom code, just remove it later */
#styleThis {
	background-color: #F1F1F1;
	font-weight: bold;
	text-decoration: underline;
}
li{
	list-style-type: none;
}ul{
	padding: 5px;
}



#editArea{
	width: 25px;
	height: 25px;
	text-align: left; 
}
#infoBar{
	width: 100%;
	border-bottom: solid 1px;
}

/* End of custom code */

.flex-container {
	padding-left: 2%;
    display: -webkit-flex;
    display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-content: center;
	align-content: center;
	margin: 10px auto;
}
.flex-item {
	margin-right: auto;
	position: relative;
		
}
/* More specified CSS Code */
#slider{
	margin: 20px 0px 10px 0px;
}
#sliderTextSpans{
	text-align: center;
	margin-bottom: 10px;
}
#Confirm{
	color: #4CAF50;
}
#Delete{
	color: red;
}
.listNavButtons{
	text-align: center;
}
#prevQuarry, #nextQuarry{
	width: 44%;
	margin: 10px 0px 10px 0px;
	padding: 3px 2% 3px 2%;
}
.confirmDeleteButtons{
	text-align: center;
}
#Confirm, #Delete{
	max-width: 40%;
	min-width: 35%;
	padding-top: 3px;
	padding-bottom: 3px;

	margin: 10px 5px 10px 5px;

}
.description {
	-webkit-align-self: flex-start;
	align-self: flex-start;
	position: relative;
	margin-right: 2%;
	margin-left: 2%;
	border-bottom: solid 1px;
	margin-top: 20px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}


.column1of3 {
	width: 18%;
	-webkit-align-self: top;
	align-self: top;
	position: relative;
	dislay: flex;
}
#column1Holder{
	width: 100%;
	padding-top: 100%;
	position: relative;
}
.column2of3 {
	-webkit-align-self: top;
	align-self: top;
	position: relative;
	width: 36%;
	margin-left:auto; 
	margin-right:0;
}
.column3of3 {
	-webkit-align-self: top;
	align-self: top;
	position: relative;
	width: 36%;
	margin-left:auto; 
	margin-right:2%;
}

.columnx{
	-webkit-align-self: center;
	align-self: center;
	position: relative;
	width: 40%;
}
#scrollAreaWrapper{
	min-width: 250px;
	border: solid 1px;

}
#scrollArea{
	height: 300px;
	width: 100%; 
	overflow:hidden; 
	overflow-y:scroll;
}
#quarryImage{
	width: 100%;
	min-height: 400px;
	min-width: 400px;
	border: 1px solid;
	position: relative;
}
#map{
	width: 100%;
	min-height: 400px;
	min-width: 400px;
	padding-top: 100%;
	position: relative;
}


.resultButton{
	padding: 0px 20px 0px 20px;
}
.resultNavButton{
	padding: 0px 10px 0px 10px;
}

.scanButtons {
		-webkit-align-self: center;
		align-self: center;
		position: relative;
}
.mapButtons {
	-webkit-align-self: center;
	align-self: center;
	position: relative;
}
.quarryLocations {
		position: relative;
}

#startXY, #endXY{
	padding: 0px;
	margin: 0px;
	display: inline-block;
}
#startXY, #endXY, form{
	padding: 0px;
}

textarea {
   resize: none;
   overflow-y: scroll;
   font-family: "Open Sans Condensed";
   font-style: normal;
   font-variant: normal;
   resize: none;
   text-align: justify;
   -moz-text-align-last: left;
   text-align-last: left;
}
button[disabled=disabled], button:disabled {
    border: 1px solid #999999;
 	background-color: #cccccc;
	color: #666666;
}
input[type='checkbox'] {
	display: inline-block;
}