<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed" />

html, main{
	margin: 0px;
	padding: 0px;
	background-color: #F1F2EF;
}

body{
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-variant: normal;
}

/* Some custom code, just remove it later */
li a:hover { color: #2bd1ff; }
li a:active { color: #4f91a3; }

#listContainer{
	height: 300px;
	border-style: solid;
	border-width: 1px;
}

#editArea{
	width: 25px;
	height: 25px;
	text-align: left; 
}
#infoBar{
	width: 100%;
	border-bottom: solid 1px;
}

/* End of custom code */

.flex-container {
    display: -webkit-flex;
    padding-left: 2%;
    display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-align-content: center;
		align-content: center;
		margin: 10px auto;
}
.flex-item {
		margin-right: auto;
		position: relative;
		
}

.description {
	-webkit-align-self: flex-start;
	align-self: flex-start;
	position: relative;
	padding-right: 2%;
}
.column1of3 {
	-webkit-align-self: top;
	align-self: top;
	position: relative;
	width: 18%;
}
.column2of3 {
	-webkit-align-self: top;
	align-self: top;
	position: relative;
	width: 38%;
}
.column3of3 {
	-webkit-align-self: top;
	align-self: top;
	position: relative;
	width: 38%;
}

.columnx{
	-webkit-align-self: center;
	align-self: center;
	position: relative;
	width: 40%;
}

#map{
	width: 100%;
	padding-top: 100%;
	position: relative;
}
#quarryImage{
	width: 100%;
	border: 1px solid;
	position: relative;
}

.scanButtons {
		-webkit-align-self: center;
		align-self: center;
		position: relative;
}

.mapButtons {
	-webkit-align-self: center;
	align-self: center;
	position: relative;
}


.quarryLocations {
		position: relative;
}

#startXY, #endXY{
	padding: 0px;
	margin: 0px;
	display: inline-block;
}
#startXY, #endXY, form{
	padding: 0px;
}


textarea {
   resize: none;
   overflow-y: scroll;
   font-family: "Open Sans Condensed";
   font-style: normal;
   font-variant: normal;
   resize: none;
   text-align: justify;
   -moz-text-align-last: left;
   text-align-last: left;
}
button[disabled=disabled], button:disabled {
    border: 1px solid #999999;
 	background-color: #cccccc;
	color: #666666;
}
